<ion-card *ngIf="comentario as comentario">
  <div class="center">
    <img src="assets/img/{{comentario.com_estado}}.png" alt="Foto" width="20%">
  </div>
  <ion-card-header class="center">
    <ion-card-title>
      <h3>{{ comentario.com_titulo }}</h3>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-label>
          <p>Descripción</p>
          <h2>{{ comentario.com_descripcion }}</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Nombre</p>
          <h2>{{ comentario.com_nombre }}</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Fecha de Creación</p>
          <ion-icon name="calendar-number"></ion-icon>
          <h2 *ngIf="comentario.com_creacion === null || comentario.com_creacion === ''; else condicionFalsa">Sin Fecha de Creación</h2>
          <ng-template #condicionFalsa>
            {{comentario.com_creacion | date:'y-MM-dd'}}
          </ng-template>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
  </ion-card-content>
</ion-card>
